@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: 'bebas';
  src: url("sass/fonts/BebasNeueRegular.otf") format("opentype");
}

@font-face {
  font-family: 'FontAwesome';
  src: url("sass/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("sass/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("sass/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("sass/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("sass/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("sass/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
